<ul class="navbar-nav nav nav-pills">
	<li class="nav-item"><a href="#personal-info-section" class="nav-link">Personal Information</a></li>
	<li class="nav-item"><a href="#friends-section" class="nav-link">Friends</a></li>
	<li class="nav-item"><a href="#visits-section" class="nav-link">Visited Places</a></li>
</ul>
